/* styles.css */

* body {
	background-color: #1C2632;
	font-family: Helvetica, Arial, sans-serif;
}
.defaultImage: {
	display: none;
	/*background-image: url(../img/Laptop.jpeg);
	height: 200;
	width: 200;
	margin: 64 px auto;*/
}

.container:hover .defaultImage {
	display: none;
}

.container:hover .imageSwap {
	display: inline;
}

/*.imageSwap:hover {
	background-image: url(../img/Paper_Shreddar.jpeg);
	cursor: crosshair;
}*/

h1 {
	color: white;
	font-size: 48px;
	text-align: center;
}

.text {
	width: 50%;
	margin: 96px auto;
}

.text * {
	display: inline-block;
	width: 48%;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

h2 {
	color: white;
	font-size: 40px;
	text-align: center;
	margin-left: 40px auto;
	font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


