/* styles.css */
.imageHover {
	width: 200px;
	height: 200px;
	background-image: url(../img/laptop.png);
	margin: 64px auto;
}

.imageHover:hover {
	background-image: url(../img/battery.png);
	cursor: crosshair;
}

* body {
	background-color: #1C2632;
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	color: white;
	font-size: 48px;
	text-align: center;
}

.text {
	width: 50%;
	margin: 96px auto;
}

.text * {
	display: inline-block;
	width: 48%;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

h2 {
	color: white;
	font-size: 40px;
	text-align: center;
	margin-left: 40px auto;
	font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

h3 {
	font-size: 20 px;
	text-align: center;
}

h3 a:link,
h3 a:visted {
	color: dodgerblue;
	text-decoration: none;
}
h3 a:hover {
	color: white;
}


